<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//fonts.bunny.net/css?family=Roboto:300,300italic,700,700italic" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css" />
    <style>
      .error { color: red; }
    </style>
    <title>{{.ModuleName}}</title>
  </head>
  <body>
    <div class="container">
      <h2 class="error">Module {{.ModuleName}} not found.</h2>
    </div>
  </body>
</html>
